.burger {
  --burger-width: 30px;
  --burger-height: 23px;

  position: relative;
  height: var(--burger-height);
  width: var(--burger-width);
  background: transparent;
  cursor: pointer;
  display: block;
  border: none;
  padding: 0;
}

.burger span {
  display: block;
  position: absolute;
  height: calc(var(--burger-height) * 0.15);
  width: 100%;
  background: var(--color-text-light);
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

.burger span:nth-of-type(1) {
  top: 0px;
  transform-origin: left center;
}

.burger span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
  transform-origin: left center;
}

.burger span:nth-of-type(3) {
  top: 100%;
  transform-origin: left center;
  transform: translateY(-100%);
}

.burger.active span:nth-of-type(1) {
  transform: rotate(45deg);
  top: 0px;
  left: calc(var(--burger-width) * 0.125);
}

.burger.active span:nth-of-type(2) {
  width: 0%;
  opacity: 0;
}

.burger.active span:nth-of-type(3) {
  transform: rotate(-45deg);
  top: calc(var(--burger-height) * 0.92);
  left: calc(var(--burger-width) * 0.125);
}
