.btn {
  padding-block: var(--space-3);
  border-radius: var(--border);
  border: none;
  font-family: var(--font-family);
  font-size: var(--text-button);
  font-weight: var(--weight-light);
  display: flex;
  justify-content: center;
  gap: var(--space-2);
  width: 100%;
  transition: 0.2s;
}

.btn-primary:active {
  filter: brightness(1.1);
}

.btn-secondary:active {
  background-color: var(--color-accent);
  color: var(--color-text-light);
}

.btn-secondary-dark:active {
  background-color: var(--color-dark);
  color: var(--color-text-light);
}

.btn:hover {
  cursor: pointer;
}

.btn:active {
  transform: scale(0.96);
}

.btn-primary {
  background-color: var(--color-accent);
  color: var(--color-text-light);
  border: 2px solid transparent;
}

.btn-secondary {
  background-color: transparent;
  border: 2px solid var(--color-accent);
  color: var(--color-accent);
}

.btn-secondary-dark {
  background-color: transparent;
  border: 2px solid var(--color-dark);
  color: var(--color-dark);
}
