.card {
  display: flex;
  background-color: var(--color-bg-dark);
  color: var(--color-text-light);
  border-radius: var(--border);
  max-height: 200px;
  align-items: center;
  justify-content: center;
  padding: 0 16px;
}