footer {
  background: var(--color-bg-light);
  height: fit-content;
  padding-inline: 30px;
  padding-block: 16px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.footer-top{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer-bottom{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer-bottom ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.footer-bottom a{
  text-decoration: none;
  color: var(--color-text-dark);
}