header {
  --header-height: 96px;
  width: 100%;
  background: var(--color-bg-light);
  position: fixed;
  top: 0;
  left: 0;
  height: var(--header-height);
  padding-inline: 16px;
  padding-block: 16px;
  display: flex;
  flex-direction: column;
  transition: 0.3s ease-in-out;
}

.expanded {
  height: 356px;
}

.header-top {
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  background-color: var(--color-bg-dark);
  height: 45px;
  aspect-ratio: 1/1;
  padding: 10px 8px;
  border-radius: 6px;
  display: grid;
  place-items: center;
}

.content {
  flex: 1;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  padding-inline: 32px;
  padding-block: 16px;
  font-size: 24px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
}

.content.visible {
  opacity: 1;
  pointer-events: auto;
}

.content ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.content li {
  padding-block: 12px;
  border-bottom: 1px solid var(--color-text-dark);
}

.content li:last-child {
  border-bottom: none;
}

.content a {
  text-decoration: none;
  color: var(--color-text-dark);
}

li.cta {
  margin-top: 4px;
  background-color: var(--color-accent);
  border-radius: var(--border);
  padding-block: 6px;
}

li.cta a {
  display: block;
  color: var(--color-text-light);
  text-align: center;
  padding-inline: 6px;
}
