input {
  border: none;
  border-radius: var(--border);
  font-size: 24px;
  font-weight: 650;
  padding-block: 8px;
  padding-right: 20px;
}

input:focus {
  outline: 3px solid var(--color-accent);
}
