.card {
  display: flex;
  background-color: var(--color-bg-dark);
  color: var(--color-text-light);
  border-radius: var(--border);
  max-height: 200px;
  align-items: center;
  justify-content: center;
  padding: 0 16px;
}

input {
  border: none;
  border-radius: var(--border);
  font-size: 24px;
  font-weight: 650;
  padding-block: 8px;
  padding-right: 20px;
}

input:focus {
  outline: 3px solid var(--color-accent);
  /* outline-offset: 2px; */
}

header {
  width: 100%;
  height: 10vh;
  background: var(--color-bg-light);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  padding-inline-end: 16px;
  padding-inline-start: 20px;
  padding-block: 8px;
  justify-content: space-between;
  align-items: center;
  /* backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.3); 
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;*/
  z-index: 10;
  /* transition: 0.5s ease-in-out; */
}

.logo {
  border: 2px dashed rgb(0, 0, 0);
  height: 100%;
  aspect-ratio: 1/1;
}

.burger {
  --burger-width: 30px;
  --burger-height: 23px;

  position: relative;
  height: var(--burger-height);
  width: var(--burger-width);
  background: transparent;
  cursor: pointer;
  display: block;
  border: none;
  padding: 0;
}

.burger span {
  display: block;
  position: absolute;
  height: calc(var(--burger-height) * 0.15);
  width: 100%;
  background: var(--color-text-light);
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

.burger span:nth-of-type(1) {
  top: 0px;
  transform-origin: left center;
}

.burger span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
  transform-origin: left center;
}

.burger span:nth-of-type(3) {
  top: 100%;
  transform-origin: left center;
  transform: translateY(-100%);
}

.burger.active span:nth-of-type(1) {
  transform: rotate(45deg);
  top: 0px;
  left: calc(var(--burger-width) * 0.125);
}

.burger.active span:nth-of-type(2) {
  width: 0%;
  opacity: 0;
}

.burger.active span:nth-of-type(3) {
  transform: rotate(-45deg);
  top: calc(var(--burger-height) * 0.92);
  left: calc(var(--burger-width) * 0.125);
}
nav {
  background-color: var(--color-bg-dark);
  padding: 10px 8px;
  border-radius: 6px;
}

.menu {
  position: fixed;
  /* top: 9.9vh; */
  top: -7vh;
  left: 0;
  width: 100%;
  background: var(--color-bg-light);
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  padding-inline: 32px;
  padding-block: 16px;
  list-style: none;
  font-size: 24px;
  transition: 0.3s ease-in;
  z-index: 1;
}

.menu.open {
  top: 9.9vh;
}

.menu a {
  text-decoration: none;
  color: var(--color-text-dark);
}

.menu li {
  padding-block-end: 8px;
  border-bottom: 1px solid var(--color-text-dark);
}
