body {
  font-family: var(--font-family);
}

.hero-heading {
  font-size: var(--text-hero-heading);
  font-weight: var(--weight-extra-bold);
  line-height: 1;
}

.hero-text {
  font-size: var(--text-hero-body);
  font-weight: var(--weight-regular);
  line-height: 1.05;
}

.section-heading {
  font-size: var(--text-section-heading);
  font-weight: var(--weight-regular);
  line-height: 0.9;
}

.phone-number {
  font-size: 32px;
  font-weight: 700;
  background-color: var(--color-accent);
  border-radius: var(--border);
  padding: 4px 12px;
  line-height: 1.2;
  margin: 0 24px;
  text-decoration: none;
}

.text-footer{
  font-size: 20px;
  font-weight: 400;
}

a[href^="tel"] {
  /* color: var(--color-text-light) !important; */
  text-decoration: none !important;
  -webkit-tap-highlight-color: transparent !important;
  -webkit-text-decoration: none !important;
}

.btn-text {
  font-size: var(--text-button);
  font-weight: var(--weight-light);
}

.card-text {
  font-size: var(--text-card);
  font-weight: 700;
}

.text-bold {
  font-weight: var(--weight-bold);
}

@media (min-width: 420px) {
  .phone-number {
    margin: 0 46px;
  }
}
