* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  height: 100vh;
  -webkit-text-size-adjust: 100%;
  padding-top: 4vh;
  background-color: var( --color-bg-light);
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  cursor: pointer;
}
