@import 'design-system/tokens.css';

@import 'base.css';

@import 'design-system/typography.css';

@import 'design-system/layout.css';

@import 'design-system/components/buttons.css';
@import 'design-system/components/header.css';
@import 'design-system/components/burger.css';
@import 'design-system/components/card.css';
@import 'design-system/components/input.css';
@import 'design-system/components/footer.css';

@import 'utilities.css';
