.span-1 {
  grid-column: span 1;
}
.span-2 {
  grid-column: span 2;
}
.span-3 {
  grid-column: span 3;
}
.span-4 {
  grid-column: span 4;
}

.col-2-4 {
  grid-column: 2 / 4;
}

.mt-1 {
  margin-top: 16px;
}
.mt-2 {
  margin-top: 56px;
}
.mb-1 {
  margin-bottom: 32px;
}
.my-1 {
  margin-block: 24px;
}
.my-2 {
  margin-block: 32px;
}
.my-3 {
  margin-block: 56px;
}

.py-1 {
  padding-block: 24px;
}
.py-2 {
  padding-block: 32px;
}
.py-3 {
  padding-block: 64px;
}

.shadow {
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.284);
}

.hidden {
  visibility: hidden;
}

.transparent {
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.3);
}

.bottom-round {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.top-round {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.bg-dark {
  background-color: var(--color-bg-dark);
  color: var(--color-text-light);
}

.bg-light {
  background-color: var(--color-bg-light);
  color: var(--color-text-dark);
}

.text-accent {
  color: var(--color-highlight);
}

.text-light {
  color: var(--color-text-light);
}

.text-dark {
  color: var(--color-text-dark);
}

.text-center {
  text-align: center;
}

.justify-center {
  justify-self: center;
}

.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.spacing-32 {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.spacing-16 {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.logo {
  border: 2px dashed rgb(0, 0, 0);
  border-radius: 6px;
  width: 70px;
  aspect-ratio: 1/1;
}
